# Virtual environment
.venv/
venv/

# Python cache
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# Environment variables
.env

# Large hyperspectral dataset files
data/raw/
data/processed/
data/splits/
data/patches/
data/processed_shared_pca/
data/patches_shared_pca/

# Large data formats
*.mat
*.npy

# Trained model files
*.h5
*.keras
*.pth
*.pt
*.joblib

# React frontend
frontend/node_modules/
frontend/dist/

# OS files
.DS_Store
Thumbs.db